/* ==========================================================================
	#Fonts
========================================================================== */
@font-face {
    font-family: 'Jura Regular';
    src: url('fonts/jura-regular-webfont.eot');
    src: url('fonts/jura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jura-regular-webfont.woff2') format('woff2'),
         url('fonts/jura-regular-webfont.woff') format('woff'),
         url('fonts/jura-regular-webfont.ttf') format('truetype'),
         url('fonts/jura-regular-webfont.svg#jurabook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jura Semi-Bold';
    src: url('fonts/jura-demibold-webfont.eot');
    src: url('fonts/jura-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jura-demibold-webfont.woff2') format('woff2'),
         url('fonts/jura-demibold-webfont.woff') format('woff'),
         url('fonts/jura-demibold-webfont.ttf') format('truetype'),
         url('fonts/jura-demibold-webfont.svg#jurademibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron Medium';
    src: url('fonts/orbitron-medium-webfont.eot');
    src: url('fonts/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron-medium-webfont.woff2') format('woff2'),
         url('fonts/orbitron-medium-webfont.woff') format('woff'),
         url('fonts/orbitron-medium-webfont.ttf') format('truetype'),
         url('fonts/orbitron-medium-webfont.svg#orbitronmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}